<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="{% url 'user_app:register' %}" method="post">
        {% csrf_token %}
        <input type="text" name="username" required placeholder="username" />
        <input type="password" name="password" required placeholder="password" />
        <input type="email" name="email" required placeholder="email" />
        <button type="submit">Sign up</button>
    </form>
</body>
</html>